.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatContainer {
  width: 100%;
  max-width: 600px;
  padding: 40px;
  margin: auto;
}

.chatMessages {
  height: 200px;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chatMessage {
  padding: 12px;
  text-align: left;
  white-space: pre-wrap;
  font-size: 16px;
}

.chatForm {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-top: 16px;
}

.chatFormInput {
  flex: 1;
}

.chatFormSubmit {
  border: none;
  background: #3e54ac;
  border-radius: 8px;
  color: #fff;
  padding: 12px;
}
